.text {
    width: 100%;
    height: 100%;
    color:#000000;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#FFFFFF;
}

.header{
    animation: headerAnim 0.8s ease-out;
}
@keyframes headerAnim{
    0%{transform: translateY(-80px);}
    100%{transform: translateY(0px);}
}

.animation-wrapper {
    width: 100%;
    height: 100%;
}

.php-text {
    background-color: #8893C0; 
    width: 100%;
    height: 100%;
    transform-origin: 100% 0%;
    transform: scale(1);
    opacity: 1;
    transition: all 0.5s ease;
}
.fake-block5:hover .php-text {
    transform: scale(0);
    opacity: 0;
}

.net-text {
    background-color: #642077;
    width: 100%;
    height: 100%;
    transform-origin: 0% 100%;
    transform: scale(1);
    opacity: 1;
    transition: all 0.5s ease;
}
.fake-block6:hover .net-text {
    transform: scale(0);
    opacity: 0;
}

.events-text {
    background-color: #2D99FF;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
    transform: scale(1);
    opacity: 1;
    transition: all 0.5s ease;
}
.fake-block7:hover .events-text {
    transform: scale(0);
    opacity: 0;
}

.blog-text {
    background-color: #0443A3;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
    transform: rotate(0deg) scale(1);
    opacity: 1;
    transition: all 0.5s ease;
}
.fake-block8:hover .blog-text {
    transform: rotate(90deg) scale(0.3);
    opacity: 0;
}

.qa-text {
    background-color: #52BF77;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
    transform: rotate(0deg) scale(1);
    opacity: 1;
    transition: all 0.5s ease;
}
.fake-block2:hover .qa-text {
    transform: rotate(-180deg) scale(0.3);
    opacity: 0;
}

.img-block1{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    transform-origin: 0% 0%;
    transform: rotate(0deg) skew(0deg);
    opacity: 1;
    transition: all 0.5s ease;
}
.fake-block1:hover .img-block1 {
    transform: rotate(-180deg) skew(50deg);
    opacity: 0;
}

.js-text{
    background-color: #F7CF69;
    transform-origin: 0% 0%;
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.5s ease;
}
.fake-block3:hover .js-text {
    transform: translateY(50px);
    opacity: 0;
}

.java-text{
    background-color: #E12B4C;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
    transform: scaleY(1);
    opacity: 1;
    transition: all 0.5s ease;
}
.fake-block4:hover .java-text {
    transform: scaleY(0);
    opacity: 0;
}

.block-9:hover .overlay, .block-8:hover .overlay, .block-7:hover .overlay, .block-6:hover .overlay, .block-5:hover .overlay,
.block-4:hover .overlay, .block-3:hover .overlay, .block-2:hover .overlay, .block-1:hover .overlay{
    opacity: 1;
}

