html, body { 
    height: 100%; 
    margin: 0; 
    background-color: #F8F9FC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    position: relative;
    padding-top: 80px;
    height: 100%;
}