.grid-container {
    height: 100%;
    width: 80%; 
    margin: 0; 
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "block-1 block-1 block-1 block-1 block-3 block-3 block-3 block-3 block-5 block-5 block-5 block-5 block-5 block-5 block-5 block-5" "block-1 block-1 block-1 block-1 block-3 block-3 block-3 block-3 block-5 block-5 block-5 block-5 block-5 block-5 block-5 block-5" "block-1 block-1 block-1 block-1 block-3 block-3 block-3 block-3 block-5 block-5 block-5 block-5 block-5 block-5 block-5 block-5" "block-1 block-1 block-1 block-1 block-3 block-3 block-3 block-3 block-6 block-6 block-6 block-6 block-6 block-7 block-7 block-7" "block-2 block-2 block-2 block-2 block-3 block-3 block-3 block-3 block-6 block-6 block-6 block-6 block-6 block-7 block-7 block-7" "block-2 block-2 block-2 block-2 block-3 block-3 block-3 block-3 block-6 block-6 block-6 block-6 block-6 block-8 block-8 block-8" "block-2 block-2 block-2 block-2 block-4 block-4 block-4 block-4 block-6 block-6 block-6 block-6 block-6 block-8 block-8 block-8" "block-2 block-2 block-2 block-2 block-4 block-4 block-4 block-4 block-6 block-6 block-6 block-6 block-6 block-9 block-9 block-9";
}

.grid-container div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-1 { 
    grid-area: block-1; 
}

.block-2 { 
    grid-area: block-2; 
    color: #FFFFFF;
    font-size: 100px;
}

.block-3 { 
    position: relative;
    grid-area: block-3; 
    background-color: #F7CF69;
    color: #000000;
    font-size: 100px;
    font-weight: bold;
}

.block-3 p {
    position: absolute;
    bottom: 0px;
    right: 0;
    margin: 0px 12px 0px 0px;
    padding: 0;
    height: auto;
}
  
.block-4 { 
    grid-area: block-4; 
    color: #FFFFFF;
    font-size: 50px;
}

.block-5 { 
    grid-area: block-5;
    color: #000000;
    font-size: 80px;
    font-style: italic;
    position: relative;
}

.block-6 { 
    grid-area: block-6;
    color: #FFFFFF;
    font-size: 100px;
}

.block-7 { 
    grid-area: block-7; 
    color: #FFFFFF;
    font-size: 20px;
}

.block-8 { 
    grid-area: block-8;
    color: #FFFFFF;
    font-size: 20px;
}  

.block-9 {  
    grid-area: block-9;
    background-color: #00265F;
    color: #FFFFFF;
    font-size: 20px;
}

.block-1, .block-2, .block-3, .block-4, .block-5, .block-6, .block-7, .block-8, .block-9 {
    position: relative;
}

#join-button {
    background-color:#2A8EFF;
    border: 0;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    border-radius: 2px;
}

#join-button:hover {
    background-color:  #033B99; 
}

.icon-wrapper {
    margin: 6px;
}

.icon-wrapper:hover .social-media-icon {
    fill: #2989f0;
}