.header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    border-bottom: 2px solid #dedede;
    height: 60px;
    background-color: #FFFFFF;
}

#logo {
    width: 130px;
    margin: 15px 15px 15px 1px;
}

#notification {
    width: 26px;
    float: right;
    opacity: 0.6;
    margin-top: 18px;
    margin-right: 6px;
    cursor: pointer;
}

#notification:hover {
    opacity: 0.8;
}

#user-image {
    margin-top: 4px;
    cursor: pointer;
    height: 41px;
    margin-right: 1.5px;
}

.header-container {
    width: 80%;
    margin: auto;
}