.dropdown {
    float: right;
    position: relative;
    margin: 5px 0px 5px 5px;
}

.dropdown-content {
    display: none;
    right: 10px;
    position: absolute;
    background-color: #ededed;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: center;
}

.dropdown-content small {
    color: #707070;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-align: left;
    width: 100%;
    font-weight: bold;
    float: left;
    color: #000000;
    text-decoration: none;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}